{
  "plugins": [
    "@babel/plugin-syntax-import-meta",
    ["babel-plugin-inline-import", {
      "extensions": [
        ".lcss"
      ]
    }]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ]
}
